@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
  --background: #fafcfd;

  /* RATE */
  --start-color: #00000000;
  --end-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fafcfd;
    --background: #171717;

    /* RATE */
    --end-color: #171717;
  }
}

html,
body {
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  transition: background-color 0.3s color 0.3s;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #3366ff;
  border-radius: 3px;
}

input,
select,
button,
textarea,
a {
  outline: none !important;
}

/* HOME */
#rating-cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: 2;
  background: linear-gradient(to top, #00000000, var(--end-color));
}
#rating-cover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: 2;
  background: linear-gradient(to bottom, #00000000, var(--end-color));
}

@keyframes slide {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes slide-reverse {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}

.slide-c {
  animation: 60s linear slide infinite;
}

.slide-c-reverse {
  animation: 60s linear slide reverse infinite;
}

.hide_scroll::-webkit-scrollbar {
  display: none;
}
